/target/
/build/

/archive/
/archive
/out*/
/out*
/in*/
/in*
/dist*

.idea/workspace.xml

**/_*/
**/_*
**/*.jar
**/*.zip
**/*.log
**/build
**/oewn.ser
**/oewn.info

**/dependency-reduced-pom.xml

/relaxmapper/

