<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="KtorApplicationConfigurationType" factoryName="Ktor" folderName="Server">
    <option name="ALTERNATIVE_JRE_PATH" value="21" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="org.oewntk.json.server.MainKt" />
    <module name="oewn-server" />
    <option name="WORKING_DIRECTORY" value="$MODULE_WORKING_DIR$" />
    <option name="alternativeJrePath" value="21" />
    <option name="alternativeJrePathEnabled" value="true" />
    <option name="includeProvidedScope" value="false" />
    <option name="mainClass" value="org.oewntk.json.server.MainKt" />
    <option name="passParentEnvs" value="true" />
    <option name="programParameters" value="" />
    <option name="shortenCommandLine" />
    <option name="vmParameters" />
    <option name="workingDirectory" value="$MODULE_WORKING_DIR$" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>